In [16]:
import pandas as pd


agents = pd.read_csv('agents_data.csv')
agent_cols = agents[['MARN', 'Full_name','Experience_years']]


new_columns = [
    'Education',
    'Age',
    'Work_experience',
    'Charge',
    'Visa type',
    'Booking preference',
    'Location',
    'Success rate',
    'Language',
    'Employment Type',
    'Google rating',
    'Availability',
]

df_final = agent_cols.copy()

for col in new_columns:
    df_final[col] = None

df_final.head()
# df_final.shape
df_final['MARN'].unique()

array([1800328, 1799100, 1799035, ..., 1801974,  848168, 1467647])

In [18]:
from faker import Faker
import random

fake = Faker("en_AU")
num_rows = len(df_final)

visa_type = ['010', '020', '030', '050', '051', '100', '101', '102', '103', '114', '115', '116', '117', '119', '120', '121', '124', '132', '143', '151', '155', '157', '160', '165', '173', '175', '176', '186', '187', '188', '189', '19', '190', '191', '192', '200', '201', '202', '203', '204', '300', '309', '400', '401', '402', '403', '405', '406', '407', '408', '410', '411', '415', '416', '417', '419', '420', '421', '422', '423', '426', '427', '428', '444', '445', '456', '457', '461', '462', '475', '476', '482', '485', '487', '488', '489', '491', '494', '495', '496', '500', '570', '571', '572', '573', '574', '575', '576', '580', '590', '600', '601', '602', '651', '675', '676', '685', '771', '785', '790', '801', '802', '804', '808', '820', '835', '836', '837', '838', '845', '846', '851', '855', '856', '857', '858', '864', '866', '870', '884', '885', '886', '887', '888', '890', '891', '892', '893', '942', '956', '976', '977', '988']     
languages = ['Afrikaans', 'Albanian', 'Amharic', 'Arabic', 'Bahasa - Malaysian', 'Bengali', 'Bosnian', 'Bulgarian', 'Burmese', 'Cambodian', 'Chinese', 'Chinese - Cantonese', 'Chinese - Fukienese', 'Chinese - Hokkien', 'Chinese - Mandarin', 'Chinese - Min', 'Chinese - Wu', 'Croatian', 'Czech', 'Danish', 'Dari', 'Dutch', 'English', 'Farsi', 'Fijian', 'Filipino', 'French', 'German', 'Greek', 'Gujarati', 'Hebrew', 'Hindi', 'Hungarian', 'Ilokano', 'Indonesian', 'Italian', 'Japanese', 'Khmer', 'Kiswahili', 'Korean', 'Kurdish', 'Laotian', 'Lithuanian', 'Macedonian', 'Magyar', 'Malayalam', 'Marathi', 'Montenegrin', 'Nepali', 'Norwegian', 'Persian', 'Pidgin', 'Polish', 'Portuguese', 'Punjabi', 'Romanian', 'Russian', 'Serbian', 'Sinhalese', 'Slovak', 'Spanish', 'Swahili', 'Swedish', 'Syriac', 'Tagalog', 'Tamil', 'Thai', 'Turkish', 'Ukrainian', 'Urdu', 'Vietnamese'] 


age_ranges =  ['< 18', '18-24', '25-32', '33-39', '40-44', '45+']
weights =    [0.02,   0.15,    0.45,    0.2,     0.1,    0.08]  

df_final['Education'] = random.choices(['Bachelor ', 'Diploma',  'Year 12 and below', 'Master', 'Doctorate'], k=num_rows)
df_final['Age'] = df_final['Age'].apply(
    lambda x: x if pd.notnull(x) else random.choices(age_ranges, weights=weights)[0]
)
# df_final['Work_experience'] = random.choices(['< 1 year', '1 - 3 years', '3 -  5 years', '> 5 years'], k=num_rows)

df_final['Work_experience'] = df_final['Work_experience'].apply(
    lambda x: x if pd.notnull(x) else random.choice(['< 1 year', '1 - 3 years', '3 -  5 years', '> 5 years']
))

df_final['Charge'] = random.choices([ '0 ~ 100 AUD', '101– 200 AUD',  '201 – 500 AUD' , '500+ AUD'], k=num_rows)
df_final['Visa type'] = random.choices(visa_type, k=num_rows)
df_final['Booking preference'] = random.choices(['Online', 'Inperson', 'Both'], k=num_rows)
df_final['Location'] = random.choices(['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'ACT', 'NT'], k=num_rows)
df_final['Success rate'] = random.choices(['< 30%', '31%-50%', ' 51 %- 80 %', '>81%' ], k=num_rows)
df_final['Language'] = random.choices(languages, k=num_rows)
df_final['Employment Type'] = random.choices(['Independent', 'Organized'], k=num_rows)
df_final['Google rating'] =  df_final.apply(lambda x: round(random.uniform(2.5, 5.0), 1), axis=1)
df_final['Availability'] = random.choices(['Immediately', '1 month', '2 - 3 month', '4- 6 month'], k=num_rows)



df_final.head()
# df_final.drop(['MARN'])
df_final = df_final.drop(columns=['Work_experience','Education','Age'])
df_final.head()
# df_final.to_csv('requirements_data.csv', index=False)

,MARN,Full_name,Experience_years,Charge,Visa type,Booking preference,Location,Success rate,Language,Employment Type,Google rating,Availability
0,1800328,Kumar Rahul,7,201 – 500 AUD,491,Online,SA,>81%,Vietnamese,Organized,4.9,4- 6 month
1,1799100,Ramandeep Kaur,8,500+ AUD,838,Online,QLD,< 30%,Japanese,Independent,2.9,4- 6 month
2,1799035,Jaspreet Kaur,8,201 – 500 AUD,151,Both,VIC,>81%,Serbian,Independent,4.1,2 - 3 month
3,2318090,Balwant Kaur,2,101– 200 AUD,175,Inperson,VIC,31%-50%,Tagalog,Organized,3.1,4- 6 month
4,1570947,Nahida,10,201 – 500 AUD,423,Both,SA,< 30%,Romanian,Organized,4.0,Immediately

In [20]:
df_final.to_csv('requirements_data_5.6.csv', index=False)